.poster-information {
  flex: 1;
  margin: 0px 2px;
  min-height: 50%;
  height: fit-content;
}
.poster-img {
  flex: 1;
  margin: 0px 10px;
  height: 50%;
  border-radius: 4px;
  background-image: url("../../../assets/reading.png");
  background-size: cover;
  background-position: center;
}
.poster-sub-title {
  font-size: 14px;
  font-weight: 600;
  color: #fbff9c;
}
.poster-title {
  font-size: 50px;
  font-weight: 700;
  color: #fff;
}
.poster-description {
  font-size: 25px;
  color: #ddd;
  margin-top: 10px;
}
.poster-register {
  margin-top: 24px;
}
.poster-register-btn {
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  width: 10vw;
  height: 7vh;
  border-color: white;
  border-style: solid;
  border-width: 4px;
}
