.poster-information {
  flex: 1;
  margin: 0px 2px;
  min-height: 50%;
  height: fit-content;
}
.poster-img {
  flex: 1;
  margin: 0px 10px;
  height: 45vh;
  border-radius: 4px;
  background-image: url("../../../assets/reading.png");
  background-size: cover;
  background-position: center;
}
@media only screen and (max-width: 1300px) {
  .poster-img {
    display: none;
  }
}
.poster-sub-title {
  font-size: 1em;
  font-weight: 600;
  color: #fbff9c;
}
.poster-title {
  font-size: 2.5em;
  font-weight: 700;
  color: #fff;
}
.poster-description {
  font-size: 25px;
  color: #ddd;
  margin-top: 10px;
}
.poster-register {
  margin-top: 24px;
}
.poster-register-btn {
  font-size: 20px;
  font-weight: 600;
  border-radius: 6px;
  width: 20%;
  height: 7%;
  border-color: white;
  border-style: solid;
  border-width: 4px;
}
@media only screen and (max-width: 730px) {
  .poster-register-btn {
    width: 40%;
    height: 7%;
  }
}
