.login-side-container {
  background-color: #151f32;
  justify-content: flex-start;
}
.login-logo {
  color: white;
  font-size: 40px;
  height: 25vh;
}
.login-card-container {
  background-color: white;
  border-radius: 4px;
  border-style: solid;
  border-width: 1px;
  border-color: #efefef;
  padding: 10px;
  width: 90%;
  min-height: 350px;
}
.login-footer {
  font-weight: 600;
  font-size: 10px;
  color: white;
  margin-top: 60px;
}
