.course-numbers-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0px;
}
.course-numbers-title {
  color: #5d7783;
  font-size: 15px;
  font-weight: 600;
}

.course-numbers-text {
  color: #111;
  font-size: 15px;
  font-weight: 600;
}
hr {
  background-color: #f7f7f7;
  border-color: #f7f7f7;
  color: #f7f7f7;
  box-shadow: none;
}
