.studyScreen-container {
  min-height: 90vh;
  height: fit-content;
  width: 100%;
  align-items: flex-start;
}
.poster-content {
  min-height: 10vh;
}
.sidebar-course-title {
  font-size: 20px;
  font-weight: 600;
}

.btn {
  font-size: 2em;
  position: fixed;
  top: 20px;
  cursor: pointer;
  z-index: 99;
}
.lesson-title {
  width: 100%;
  height: 15%;
  background-color: #5a51dd;
  box-shadow: 2px 17px 35px 3px rgba(0, 0, 0, 0.11);
  z-index: 999;
}
.lesson-title h3 {
  padding: 3%;
  font-size: 1.2em;
}
.lesson-content {
  width: 100%;
  height: 85%;
  background-color: #bebaff;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: auto;
}
.lesson-content li {
  list-style: none;
  font-size: 1.3em;
  padding: 3%;
  cursor: pointer;
  transition: all ease-in 1s;
}
.centeli {
  width: 95%;
}
.course-details {
  padding-top: 30px;
  height: 90%;
  justify-content: flex-start;
  width: 90%;
  padding-bottom: 30px;
}
.course-details-title {
  font-weight: 700;
  font-size: 36px;
  text-transform: uppercase;
  margin-bottom: 50px;
}
.course-details-body {
  font-size: 26px;
  text-align: justify;
  line-height: 40px;
}
.intro-course {
  width: 80%;
}
.course-intro {
  padding-top: 20px;
  height: 90%;
  justify-content: flex-start;
  overflow: auto;
  width: 90%;
}
.intro-title {
  font-weight: 700;
  font-size: 34px;
}
.intro-sub-title {
  font-weight: 600;
  font-size: 20px;
  text-align: center;
}
.intro-btn {
  font-size: 20px;
  font-weight: 600;
  width: fit-content;
  height: 60px;
  text-transform: uppercase;
  border-radius: 4px;
}
.subtitle {
  width: 55%;
}
.intro-sec-title {
  font-weight: 700;
  font-size: 22px;
}
.intro-sec-paragraph {
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
}
.whatYou {
  width: 45%;
}
.modal-title h3 {
  margin: 0px;
}
.dot {
  justify-content: flex-end;
  font-size: 2.3em;
  width: 98%;
  transition: all ease-in 1s;
}
.dot2 {
  justify-content: flex-end;
  font-size: 2.3em;
  width: 95%;
  transition: all ease-in 1s;
}
.into-parag {
  margin: 1%;
  width: 90%;
  border-radius: 15px;
  padding: 3%;
  background-color: #6962ee;
  color: white;
}
.into-parag h4 {
  color: white;
  font-size: 1.8em;
}
.study-sidebar {
  position: fixed;
  width: 18vw;
  z-index: 100;
  height: 100%;
  transition: 0.4s;
  left: 0px;
}
span {
  padding-left: 8px;
  font-weight: 700;
}
