.profile-screen {
  background-color: #4f28ffa1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  top: 25vh;
}
.container {
  height: 100vh;
  width: 80vw;
  background-color: white;
  margin-top: 25vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.profile-img {
  height: 150px;
  width: 150px;
  border-radius: 75px;
  margin-top: -12.5vh;
}
.profile-name {
  font-size: 30px;
  margin: 5px;
}
.user-courses-details {
  display: flex;

  justify-content: center;
  background-color: #bdaeff;
  width: 100%;
  height: 100%;
  font-size: 30px;
}
.courses-container {
  margin: 30px;
  padding: 10px;
}
