.img-side-container {
  height: 100vh;
  background-image: url("../../../assets/reading.png");
  background-position: center;
  background-size: cover;
}
@media only screen and (max-width: 1100px) {
  .img-side-container {
    display: none;
  }
}
