.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.col {
  display: flex;
  flex-direction: column;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.err-msg {
  width: 100%;
  text-align: center;
  color: #db3030;
  font-weight: 600;
  font-size: 12px;
  margin-bottom: 12px;
}
