.navbar-container {
  width: 100%;
  position: absolute;
  top: 0vh;
  height: 10vh;
  z-index: 1;
  display: flex;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1);
}
.navbar-logo {
  flex: 2;
}
.navabar-sub-menu {
  flex: 3;
  display: flex;
  justify-content: center;
}
.navbar-sub-menu-item {
  padding: 0px 20px;
  margin: 0px 20px;
  font-size: 14px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
}
.navbar-sub-menu-mobile {
  padding: 0px 20px;
  margin: 0px 20px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  display: none;
}
.navbar-sub-menu-item:hover {
  color: grey;
}

@media only screen and (max-width: 750px) {
  .navbar-sub-menu-mobile {
    display: flex;
  }
  .navabar-sub-menu {
    display: none;
  }
}
